@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Fredoka+One&display=swap');

.reports{
   
    max-width: 1300px;
    position: relative;
    margin-top: 35px;
    margin-left: 20px;
    background-size: cover;
    box-sizing: border-box;
    width: 1300px;
    border-radius: 10px;
    border: 7px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

/* .certi{
    fon
} */