@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Fredoka+One&display=swap');
.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .navbar_logo{
    width: 78px;
    height: 78px;
    border-radius:50% ;
    object-fit: cover;
    cursor: pointer;
    
  }
  .name{
    color:#8E0505;
    font-size: 30px;
    padding-left: 20px;
    font-family: 'Fredoka One', cursive;
    /* font-family: 'Dela Gothic One', cursive; */
  }
  .name span{
    color:#D2D3C9;
    font-size: 35px;
    font-family: 'Fredoka One', cursive;
    /* font-family: 'Dela Gothic One', cursive; */
  }
  
  .navbar_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;

  }

 
  
  .nav_menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    /* text-align: center; */
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
  
  }
  
  .nav_item {
    height: 10px;
    display: inline-block;
    padding-left: 35px ;
    padding-top: 10px;
    font-size: 22px;
    
  }
  
  .nav_links {
    color: #D2D3C9;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav_links:hover {
    border-bottom: 5px solid #D2D3C9 ;
    transition: all 0.2s ease-out;
    
  }
  .fa_icon{
    color:#8E0505;
  }
  
  /* .fa-bars {
    color: #fff;
    
  }

  .fa-times {
    color: #fff;
  } */
  
  .nav_links_mobile {
    display: none;
  }
  
  .menu_icon {
    display: none;
  }
  
  /* @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav_menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav_menu.active {
      background: #000;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav_links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav_links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar_logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu_icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa_times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav_links_mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav_links_mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  } */